.navbar {
  position: absolute;
  top:0;
  height: 100%;
  left:64px;
  width: 270px;
  background-color: var(--background-secondary);
  z-index: 900;
  overflow: hidden;
}

.header{
  padding:0px 10px 20px 10px;
  font-weight: 700 !important;
}
.headerBackButton{
  padding:10px;
  margin-bottom: 10px;
  margin-top:-10px;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border:0;
  width:100%;
  background-color: transparent;
}

.headerBackButton span{
  margin-left: 5px;
}

.headerBackButton:hover{
  background-color: var(--background-secondary);
}

.headerBackButton:active{
  background-color: var(--border-lighter);
}

.navlinkGroup{
  margin-top: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.navlink {
  display: flex; 
  padding:0 0 0 16px;
  text-decoration: none;
  background-color: var(--background-primary);
}

.navlinkIcon{
  display: flex;
  align-items: center;
  flex:1 1 12%;
  color: var(--border-darker);
}
.navlinkText{
  position: relative;
  display: flex;
  flex:1 1 88%;
  flex-direction: column;
  padding:20px 16px 20px 0px;
  border-bottom:1px solid var(--border-lighter);
  color: var(--text-primary);
  overflow: hidden;
}

.navlink.compact .navlinkText{
  padding:12px 16px 12px 0px;
}
.navlink.compact:last-child .navlinkText{
  padding-bottom: 20px;
}
.navlink.compact:last-child .navlinkIcon{
  padding-bottom: 8px;
}

.navlink:last-child .navlinkText{
  border:0
}

.navlinkText p{
  margin:0;
  font-size: var(--font-medium);
}

.navlink.compact .navlinkText p{
  font-weight: initial;
}

.navlinkText div{
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.navlinkText span{
  font-size: var(--font-medium);
  color: var(--text-secondary);
}

.navlink:hover {
  background-color: var(--hover-grey);
}

.activeNavlink {
  text-decoration: none;
  border-left: 4px solid var(--accent);
}
.activeNavlink .navlinkText,.activeNavlink .navlinkIcon{
  color: var(--accent);
}
.activeNavlink .navlinkText span{
  color:var(--text-primary)
}

.activeNavlink:hover {
  /* background-color: rgba(0, 0, 0, 0.15); */
}

.navlinkBadge {
  font-weight: initial;
  font-size: var(--font-medium);
  color: inherit;
}

.navCard {
  background-color: var(--nav-column-card);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 5px;
  cursor: pointer;
  color: var(--text-white);
  transition: .2s;
  display: block;
  text-align: initial;
  outline: none;
}

.activeNavCard {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(255, 255, 255, 0.3);
}

.navCard:hover {
  background-color: rgba(0, 0, 0, 0.07);
  border-color: transparent;
  color: var(--text-white);
}

.activeNavCard:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(255, 255, 255, 0.3);
}

.navCardMenu {
  display: none;
}

.navCard:hover .navCardMenu {
  display: block;
}

.navCard p {
  margin-bottom: 5px;
  font-size: var(--font-medium);
  color: inherit;
  font-weight: 500;
}

.navCard p:last-child {
  margin-bottom: 0;
}

.iconMargin {
  margin-right: 5px;
}

.navCard span {
  font-weight: initial;
  line-height: 2em;
  color: inherit
}

.iconMargin {
  margin-right: 5px;
}

.navCard span {
  font-weight: initial;
  line-height: 2em;
  color: inherit
}